@use 'sass:math';
@use '../mixins' as m;

//按钮
.b3-button {
  //@include m.focus(var(--rc-on-surface-variant));
  @include m.focus(var(--rc-primary));
  border: none;
  box-shadow: unset;
  border-radius: var(--b3-border-radius);
  height: var(--rc-component-height);
  padding: 0 18px;
  gap: 6px;

  svg {
    @include m.svg(12px);
    margin: 0;
    &[style*='height'] {
      @include m.svg(8px, $important: true);
    }
  }

  &:hover,
  &:focus {
    box-shadow: unset;
  }

  &--progress {
    box-shadow: unset;
    color: transparent;
    position: relative;
    background-color: rgba(var(--rc-on-surface-variant), 0.08) !important;
    > span {
      background-color: rgba(var(--rc-primary));
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--text {
    background-color: transparent;
  }

  &--white {
    @include m.transparent();
  }

  &--small {
    height: 28px;
    padding: 0 12px;
  }

  &--big {
    height: auto;
    padding: 24px 16px;
  }

  $feat-colors: (
    'info': 'secondary',
    'success': 'tertiary',
    'error': 'error',
    'warning': 'warning',
  );

  @each $feat, $color-type in $feat-colors {
    &--#{$feat} {
      height: auto;
      color: var(--rc-on-#{$color-type}-container);
      background: var(--rc-#{$color-type}-container);
    }
  }
}
