.b3-label {
  border: none;
  box-shadow: unset;
  border-radius: var(--b3-border-radius);
  background-color: var(--rc-background);
  padding: 16px;
  &:not(:last-child) {
    margin: 0 0 6px;
  }
  &__text {
    font-size: 100% !important;
  }
  &--inner,
  &--noborder {
    border: none;
    box-shadow: none;
  }
}
