@mixin label {
  border: none;
  box-shadow: unset;
  border-radius: var(--b3-border-radius);
  background-color: var(--rc-background);
  padding: 16px;
  margin: 0 0 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.b3-label {
  @include label();
  &__text {
    font-size: 100% !important;
  }
  &--inner,
  &--noborder {
    border: none;
    box-shadow: none;
  }
}
