@use '../mixins' as m;

:root {
  // 边框
  --b3-list-hover: rgba(var(--rc-on-surface-rgb), 0.08);
  --b3-list-icon-hover: var(--b3-list-hover);
}

$height: 28px;

$btn-h: 22px;

@mixin item($important: false) {
  @include m.state(var(--rc-on-surface-rgb));
  padding: 0 8px;
  line-height: $height;
  border-radius: var(--b3-border-radius);
  margin: 0 0 3px;
}

@mixin btn($important: false) {
  @include m.state(var(--rc-on-surface-rgb), $important);
  margin: 0;
  &:hover {
    border-radius: 2px;
  }
}

.b3-list {
  padding: 0 12px;
  margin-bottom: 3px;

  &-item {
    @include item();
    gap: 2px;

    &__toggle {
      @include m.transparent();
      margin: 0 !important;
      color: var(--rc-on-surface);
      height: $height;
      svg {
        width: 8px;
      }
    }

    &__icon {
      @include btn();
      padding: 0;
      width: $btn-h;
      font-size: 13px;
      svg,
      img {
        @include m.svg($btn-h, 13px, $important: true);
      }
    }

    &__graphic {
      &.popover__block {
        @include btn();
      }
    }

    &__action {
      @include btn();
      @include m.svg-parent($btn-h, 12px);
    }

    $left: 1px;

    &::before {
      @include m.focus-before(33%, $left);
      opacity: 0;
    }

    &--focus {
      position: relative;
      background: rgba(var(--rc-on-surface-rgb), 0.08) !important;
      &::before {
        @include m.focus-before(25%, $left);
        opacity: 1;
      }
    }
    &__hint {
      &text,
      &icon {
        margin: 0;
      }
    }

    .counter {
      @include btn();
    }
  }

  &--empty {
    padding: 8px 12px;
  }

  @mixin left($depth) {
    > ul {
      margin-left: if($depth > 0, 18px - 1px, 16px);
      border-left: 1px solid var(--b3-border-color);
      overflow: visible;
      > li {
        margin-left: -16px - 18px * $depth;
      }
      @if $depth < 14 {
        @include left($depth + 1);
      }
    }
  }

  @include left(0);
}

svg,
img {
  &.b3-list-item__graphic {
    @include m.svg($btn-h, 13px, $important: true);
    margin: 0 !important;
  }
}
span.b3-list-item__graphic {
  width: auto;
  padding: 0;
}

.counter {
  @include m.center();
  padding: 0;
  width: $btn-h;
}
