@use '../mixins' as m;

:root {
  // 边框
  --b3-list-hover: rgba(var(--rc-on-surface-variant), 0.08);
  --b3-list-icon-hover: var(--b3-list-hover);
}

$height: 28px;

@mixin item($important: false) {
  @include m.state(var(--rc-on-surface-variant));
  padding: 0 8px;
  line-height: $height;
  margin: 0 0 3px;
  border-radius: var(--b3-border-radius);
}

@mixin btn($important: false) {
  @include m.state(var(--rc-on-surface-variant), $important);
  margin: 0;
  &:hover {
    border-radius: 2px;
  }
}

.b3-list {
  padding: 0 12px;

  &-item {
    @include item();

    &__icon {
      @include btn();
      padding: 0;
      width: 22px;
      margin: 0 2px;
      font-size: 13px;
    }

    &__graphic {
      @include m.svg(13px, 13px);
      margin-right: 8px;
    }

    &__action {
      @include btn();
      @include m.svg-parent(22px, 12px);
    }

    .counter {
      @include btn();
      padding: 0;
      width: 22px;
      @include m.center();
    }

    &::before {
      @include m.focus-before(50%, 1px);
      opacity: 0;
    }
    &--focus {
      position: relative;
      background: rgba(var(--rc-on-surface-variant), 0.08) !important;
      &::before {
        @include m.focus-before(22%, 1px);
        opacity: 1;
      }
    }
    &__toggle {
      @include m.transparent();
      color: rgba(var(--rc-on-surface-variant));
      height: $height;
      svg {
        width: 8px;
      }
    }
  }

  &--empty {
    padding: 8px 12px;
  }

  @mixin left($depth) {
    > ul {
      margin-left: if($depth > 0, 18px - 1px, 16px);
      border-left: 1px solid var(--b3-border-color);
      overflow: visible;
      > li {
        margin-left: -16px - 18px * $depth;
      }
      @if $depth < 14 {
        @include left($depth + 1);
      }
    }
  }

  @include left(0);
}
