@use '../mixins' as m;
@use 'list';

:root {
  // 阴影
  --b3-dialog-shadow: var(--rc-elevation-2);
  --b3-menu-background: rgba(236, 242, 251, 0.9);
}

$padding: 6px;

@mixin meta {
  font-size: 11px;
  color: var(--rc-on-surface);
}

@mixin menu() {
  padding: $padding;
  // padding: 0;
  border: none;
  overflow: hidden;
  // background-color: transparent;
}

@mixin backdrop() {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--b3-border-radius);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
}

.b3-menu {
  @include menu();
  @include backdrop();
  &__item {
    @include list.item();
    margin-bottom: 2px;
    padding: 0 10px;
    background-color: transparent;
    &:last-child {
      margin-bottom: 0;
    }

    &s {
      padding: 0;
    }

    &--selected {
      @include m.focus(var(--rc-on-surface-rgb));
      position: relative;
      &::before {
        @include m.focus-before(25%, 0px);
      }
    }
    &--readonly {
      @include m.transparent();
      @include meta();
      line-height: 1.675;
    }
  }
  &__icon {
    width: 13px;
    margin-right: 10px;
    &--small {
      height: 9px;
      margin-right: 0;
    }
  }
  &__submenu {
    @include menu();
    @include backdrop();
  }
  // 分割线
  &__separator {
    margin: 6px 0;
    height: 0;
    border-bottom: 1px solid var(--b3-border-color);
  }
  // 菜单项快捷键
  &__accelerator {
    @include meta();
  }
}
