@use '../mixins' as m;
@use 'list';

:root {
  // 阴影
  --b3-dialog-shadow: var(--rc-elevation-2);
  --b3-menu-background: rgb(var(--rc-surface-rgb) / 0.8);
}

$padding: 6px;

@mixin meta {
  font-size: 11px;
  color: var(--rc-on-meta);
}

@mixin menu() {
  padding: $padding;
  border: none;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  @include backdrop();
}

@mixin backdrop() {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--b3-border-radius);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
}

.b3-menu {
  @include menu();
  &__item {
    @include list.item();
    margin-bottom: 2px;
    padding: 0 10px;
    background-color: transparent;
    &:last-child {
      margin-bottom: 0;
    }

    &s {
      padding: 0;
      background-color: transparent;
      padding: $padding;
      background-color: var(--b3-menu-background);
    }

    &--selected {
      @include m.focus(var(--rc-on-surface-rgb));
      position: relative;
      &::before {
        @include m.focus-before(25%, 0px);
      }
    }
    &--readonly {
      @include m.transparent();
      > .b3-menu__label {
        @include meta();
        line-height: 1.675;
      }
      .b3-list-item__text {
        font-size: 13px;
        color: var(--rc-on-surface);
      }
    }

    &--custom {
      padding: 0;
    }
  }
  &__icon {
    width: 13px;
    margin-right: 10px;
    &--small {
      height: 9px;
      margin-right: 0;
    }
  }
  &__submenu {
    @include menu();
    // margin-left: 5px;
  }
  // 分割线
  &__separator {
    margin: 6px 0;
    height: 0;
    border-bottom: 1px solid var(--b3-border-color);
  }
  // 菜单项快捷键
  &__accelerator {
    @include meta();
  }

  .b3-list {
    padding: 0;
    margin: 0;
    &-item:last-child {
      margin: 0;
    }
  }

  &:has(#preview) {
    .b3-menu__label .fn__flex:has(> .block__icon) {
      margin: 0 0 8px !important;
      .block__icon {
        align-self: center;
      }
    }
  }

  #preview {
    margin-left: 16px;
    border-radius: var(--b3-border-radius);
  }
}
