@use '../mixins' as m;
//选择菜单

.b3-select {
  padding: 0 24px 0 8px;
  height: var(--rc-component-height);
  box-shadow: unset !important;
  font-size: 100%;
  @include m.focus(var(--rc-on-surface-rgb), true);
}
