@use 'sass:math';
@use '../mixins' as m;

$border-w: 1px;
$switch-w: 36px;
$switch-h: 20px;

$btn-w: 10px;
$btn-w-checked: 12px;

@mixin btn($w, $direction) {
  $spacing: math.div($switch-h - $w, 2) - $border-w;
  $center-load-w: $switch-w - $switch-h;
  width: $w;
  height: $w;
  top: $spacing;
  transition: transform 0.2s var(--rc-timing-function);
  transform: translateX($spacing + if($direction == 'left', 0, $center-load-w));
}

//开关
.b3-switch {
  background: rgb(var(--rc-on-surface-variant), 0.08);
  width: $switch-w;
  height: $switch-h;
  border-radius: var(--rc-border-radius-max);
  border: $border-w solid var(--rc-outline);

  &::before {
    display: none !important;
  }

  &::after {
    background-color: var(--rc-outline); //rgba(var(--rc-on-surface-variant));
    border: none;
    box-shadow: none;
    bottom: unset;
    right: unset;
    left: unset;
    border-radius: var(--rc-border-radius-max);
    @include btn($btn-w, 'left');
  }

  &:checked {
    border-color: rgba(var(--rc-primary));
    background: rgba(var(--rc-primary));

    &::after {
      background-color: var(--rc-background);
      @include btn($btn-w-checked, 'right');
    }
  }
}
