@use '../mixins' as m;

//输入框
.b3-text-field {
  transition: var(--b3-transition);
  border-radius: var(--b3-border-radius);

  box-shadow: unset !important;
  border: 1px solid var(--b3-border-color);
  background: var(--rc-background);
  border-bottom-color: var(--rc-outline);
  &:not(.b3-text-field--text) {
    box-shadow: 0 -3px 0 -2px inset transparent !important;

    &:focus {
      box-shadow: 0 -3px 0 -2px inset var(--rc-primary) !important;

      border-bottom: 1px solid var(--rc-primary);
    }
  }
}
