@use '../mixins' as m;

//输入框
.b3-text-field {
  border: 1px solid transparent !important;
  box-shadow: unset !important;
  transition: var(--b3-transition);
  border-radius: var(--b3-border-radius);
  &:not(.b3-text-field--text) {
    @include m.focus(var(--rc-on-surface));
    height: var(--rc-component-height);
    &:focus {
      border-color: rgb(var(--rc-primary)) !important;
      background-color: var(--rc-background);
    }
  }
}

textarea.b3-text-field {
  height: auto !important;
  min-height: calc(var(--rc-component-height) * 2);
}
