:root {
  --b3-tooltips-background: rgba(0, 0, 0, 0.9);
  --b3-tooltips-color: var(--rc-on-primary);
  --b3-tooltips-shadow: var(--rc-elevation-2);
}

@mixin tooltips {
  padding: 4px 8px;
  line-height: 1.7;
  box-shadow: var(--b3-tooltips-shadow);
}

//tips
.b3-tooltips {
  &::before {
    border: none;
  }
  &::after {
    @include tooltips;
  }
}

//悬浮提示条
#tooltip {
  @include tooltips;
}
