@use '../mixins' as m;

$item-w: 36px;
$interval: 6px;
$icon-w: 14px;
$width: $item-w + $interval * 2;

.dock {
  background-color: var(--rc-base);
  &--vertical {
    width: $item-w + $interval;
    padding-bottom: $interval;

    &#dockLeft {
      padding-left: $interval;
      border: none;
    }

    &#dockRight {
      padding-right: $interval;
      border: none;
    }
    .dock__item {
      margin: 0 0 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__item {
    @include m.svg-parent($item-w, $icon-w);
    @include m.state(var(--rc-on-surface-rgb));

    &--active {
      position: relative;
      &::before {
        @include m.reset-style();
        @include m.reset-position();
        @include m.focus-before(28.75%, 1px);
        #dockRight & {
          left: auto;
          right: 1px;
        }
      }

      &focus {
        @include m.focus(var(--rc-on-surface-rgb), true);
        background-color: transparent !important;
      }
      &,
      body.body--blur & {
        @include m.focus(var(--rc-on-surface-rgb), true);
      }
    }

    svg {
      transition: var(--b3-transition);
    }
  }
}

#dockBottom {
  height: $width;
  .dock__item {
    margin: auto 0;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
