@use 'dock';
@use 'empty';
@use 'status';
@use 'resize';
@use 'scroller';
@use 'tab';
@use 'top-bar';

#layouts {
  > .fn__flex:first-child {
    border-radius: var(--b3-border-radius-b);
    margin: 0 dock.$interval dock.$interval;
  }
}

body {
  font-size: 13px;
  &::before {
    content: ' ';
    border-radius: var(--b3-border-radius-b);
    background-color: transparent;
    box-shadow: var(--rc-card-shadow);
    position: absolute;
    top: top-bar.$height;
    left: dock.$width;
    right: dock.$width;
    bottom: status.$height;
  }
  &.body--window,
  &:has(#dockLeft.fn__none) {
    &::before {
      left: dock.$interval;
    }
  }
  &.body--window,
  &:has(#dockRight.fn__none) {
    &::before {
      right: dock.$interval;
    }
  }
  &:has(#status.fn__none)::before {
    bottom: dock.$interval;
  }
}

.layout__dockl,
.layout__dockr,
.layout__dockb {
  background: var(--rc-surface-1);
  transition: var(--b3-transition);
  top: top-bar.$height;
  bottom: status.$height;
  left: dock.$width !important;
  border: transparent;

  &:has(+ .layout__resize.fn__none) {
    transition-duration: 0.5s;
    &[style*=' 0px'] {
      transition-duration: 0.2s;
    }
  }
  .layout__resize.fn__none + & {
    transition-duration: 0.5s;
    &[style*=' 0px'] {
      transition-duration: 0.2s;
    }
  }

  &.layout--float {
    box-shadow: var(--rc-elevation-2);
    left: dock.$width !important;
    border: {
      width: 1px;
      radius: var(--b3-border-radius-b);
    }

    &[style*='transform'] {
      transform: translateX(-500px) !important;
    }

    > .layout__dockresize {
      &:hover {
        border: {
          color: rgba(var(--rc-primary));
          width: 0 2px 0 0;
        }
      }
    }
  }
}
