@use 'top-bar';
@use 'dock';
@use 'status';
@use 'resize';
@use 'scroller';

#layouts {
  > .fn__flex:first-child {
    border-radius: var(--b3-border-radius-b);
    margin: 0 dock.$interval;
  }
}

body {
  font-size: 13px;
  &::before {
    content: ' ';
    border-radius: var(--b3-border-radius-b);
    background-color: transparent;
    box-shadow: var(--rc-elevation-0);
    position: absolute;
    top: top-bar.$height;
    left: dock.$width;
    right: dock.$width;
    bottom: status.$height;
  }
  &:has(#dockLeft.fn__none)::before {
    left: dock.$interval;
  }
  &:has(#dockRight.fn__none)::before {
    right: dock.$interval;
  }
}

.layout__dockl,
.layout__dockr,
.layout__dockb {
  background: var(--rc-surface-1);

  .layout-tab-container {
    background: transparent;
  }
  &:has(+ .layout__resize.fn__none) {
    transition-duration: 0.5s;
    &[style*=' 0px'] {
      transition-duration: 0.2s;
    }
  }
  .layout__resize.fn__none + & {
    transition-duration: 0.5s;
    &[style*=' 0px'] {
      transition-duration: 0.2s;
    }
  }
}
