@use '../mixins' as m;
@use 'dock';
$height: 32px;

$item-w: dock.$item-w;
$item-h: 24px;

$icon-w: dock.$icon-w;

.status {
  background: transparent;
  height: $height;
  padding: 0;
  border: none;
  .toolbar__item {
    @include m.svg-parent($item-w, $icon-w, $item-h);
    @include m.state(var(--rc-on-surface-variant), true);
    margin: 0 dock.$interval;
  }

  &__msg {
    @include m.v-center($height);
  }
}
