@use '../mixins' as m;
@use 'dock';
$height: 32px;

$item-w: dock.$item-w;
$item-h: 24px;

$icon-w: dock.$icon-w;

.status {
  background-color: var(--rc-base);
  height: $height - dock.$interval;
  padding: 0;
  border: none;
  .toolbar__item {
    @include m.svg-parent($item-w, $icon-w, $item-h);
    @include m.state(var(--rc-on-surface-rgb), true);
    margin: 0 dock.$interval dock.$interval;
  }

  &__msg,
  &__backgroundtask,
  &__counter {
    @include m.v-center($height - dock.$interval * 2);
  }
}
