@use 'sass:math';
@use '../mixins' as m;
@use "dock";

:root {
  --b3-toolbar-background: var(--rc-base);
  --b3-toolbar-blur-background: var(--rc-base);
  --b3-toolbar-hover: rgba(var(--rc-on-surface), 0.08);
}

$height: 40px;

$btn-h: 25px;
$btn-w: 34px;
$icon-size: 16px;

$win-btnW: 46px;

.toolbar {
  height: $height;
  border: none;
  gap: 3px;

  body.body--win32 & {
    padding-left: dock.$interval;
  }

  &__item {
    @include m.svg-parent($btn-w, $icon-size, $btn-h);
    @include m.state(var(--rc-on-surface), true);
    margin: 0;
    svg.toolbar__svg {
      height: $btn-h;
      opacity: 1;
      stroke-width: 8px;
    }

    &--disabled {
      @include m.disable(true);
    }

    #windowControls &,
    .toolbar__window & {
      @include m.svg-parent($win-btnW, 12px, $height);
      border-radius: unset;
      margin: 0;
    }
    &--close {
      @include m.close(true);
      svg {
        @include m.svg(12px, 10px, $height, true);
      }
    }
  }
  &__text {
    @include m.v-center($btn-h);
    font-size: 13px;
  }

  #drag {
    font-size: 13px;
  }
}

#barWorkspace {
  @include m.state(var(--rc-on-surface), true);
  background-color: transparent;
  width: auto;
  padding: 0 8px;
  font-weight: 500;
}

#barBack,
#barForward {
  @include m.svg-parent($btn-w, 14px, $btn-h);
}
