@use 'sass:math';
@use '../mixins' as m;

:root {
  --b3-toolbar-background: transparent;
  --b3-toolbar-blur-background: transparent;
  --b3-toolbar-hover: rgba(var(--rc-on-surface-2), 0.08);
}

$height: 40px;

$btn-h: 28px;
$btn-w: 34px;
$icon-size: 16px;

$win-btnW: 46px;

.toolbar {
  height: $height;
  border: none;
  &__item {
    @include m.svg-parent($btn-w, $icon-size, $btn-h);
    @include m.state(var(--rc-on-surface-2), true);
    margin: 0 4px;
    border-radius: 4px;
    svg.toolbar__svg {
      height: $btn-h;
    }

    &--disabled {
      @include m.disable(true);
    }

    #windowControls & {
      @include m.svg-parent($win-btnW, 12px, $height);
      border-radius: unset;
      margin: 0;
    }
    &--close {
      @include m.close(true);
      svg {
        @include m.svg(12px, $height, 10px, true);
      }
    }
  }
  &__text {
    @include m.v-center($btn-h);
    font-size: 13px;
  }

  #drag {
    font-size: 13px;
  }
}

#barWorkspace {
  @include m.state(var(--rc-on-surface-2), true);
  background: transparent;
  width: auto;
  font-weight: 500;
}

#barBack,
#barForward {
  @include m.svg-parent($btn-w, 14px, $btn-h);
}
