@mixin v-center($h) {
  height: $h;
  line-height: $h;
  vertical-align: middle;
}

@mixin center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@mixin reset-style {
  opacity: 1;
  transform: unset;
  margin: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  background-color: transparent;
  outline: unset;
  position: unset;
}

@mixin reset-position {
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
}
