@use 'function' as f;

@mixin state($base, $important: false) {
  color: rgba($base) f.is-important($important);
  transition: var(--b3-transition);
  &:hover {
    background-color: rgba($base, 0.08) f.is-important($important);
  }
  &:active {
    background-color: rgba($base, 0.12) f.is-important($important);
  }
}

@mixin focus($base, $important: false) {
  color: rgba($base) f.is-important($important);
  background-color: rgba($base, 0.08) f.is-important($important);
  transition: var(--b3-transition);
  &:hover {
    background-color: rgba($base, 0.12) f.is-important($important);
  }
  &:active {
    background-color: rgba($base, 0.16) f.is-important($important);
  }
}

@mixin disable($important: false) {
  opacity: 0.38;
  cursor: not-allowed;
  &:hover,
  &:active {
    background-color: transparent f.is-important($important);
  }
}

@mixin close($important: false) {
  transition: var(--b3-transition);
  &:hover {
    color: var(--rc-on-primary) f.is-important($important);
    background-color: rgba(232, 17, 35, 0.9) f.is-important($important);
  }
}

@mixin transparent($important: false) {
  &,
  &:hover,
  &:active {
    background: transparent f.is-important($important);
  }
}

@mixin focus-before($top, $left: 0) {
  content: '';
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: 3px;
  z-index: 0;
  height: 100% - $top * 2;
  background-color: var(--rc-primary);
  transition: var(--b3-transition);
  border-radius: 9999px;
}
