@use 'function' as f;

@mixin state($base, $important: false) {
  color: rgba($base) f.is-important($important);
  transition: var(--b3-transition);
  &:hover {
    background-color: rgba($base, 0.08) f.is-important($important);
  }
  &:active {
    background-color: rgba($base, 0.12) f.is-important($important);
  }
}

@mixin focus($base, $important: false) {
  @include state($base, $important);
  background-color: rgba($base, 0.08) f.is-important($important);
}

@mixin disable($important: false) {
  cursor: not-allowed;
  opacity: 1 f.is-important($important);
  svg {
    opacity: 0.38;
  }
  &:hover,
  &:active {
    background-color: transparent f.is-important($important);
  }
  &::after {
    opacity: 1 f.is-important($important);
  }
}

@mixin close($important: false) {
  transition: var(--b3-transition);
  &:hover {
    color: var(--rc-on-primary) f.is-important($important);
    background-color: rgba(232, 17, 35, 0.9) f.is-important($important);
  }
}

@mixin transparent($important: false) {
  &,
  &:hover,
  &:active {
    background-color: transparent f.is-important($important);
  }
}
