@use 'function' as f;

@mixin focus-before($top, $left: 0) {
  content: '';
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: 3px;
  z-index: 0;
  height: 100% - $top * 2;
  background-color: rgba(var(--rc-primary));
  transition: var(--b3-transition);
  border-radius: var(--rc-border-radius-max);
}

@mixin add-icon($color, $icon_name, $size, $position) {
  background-color: $color;
  $icon_url: 'icons/#{$icon_name}_black_#{$size}dp.svg';
  -webkit-mask: url($icon_url) #{$position};
  mask: url($icon_url) #{$position};
}
