@use 'sass:math';
@use '../mixins' as m;
@use 'icons';

$icon-top: 64px;
$icon-minus-top: 42px;
$icon-h: 78px;

$btn-top: 8px;
$btn-h: 28px;
$btns-h: $btn-top + $btn-h;
$btn-top-l: 32px;

// 按钮组
@mixin btns($h: $btn-h, $fz: 14px, $type: 'meta') {
  height: $h;
  transition: var(--b3-transition);
  background-color: var(--rc-background);
  border-radius: var(--b3-border-radius);
  .protyle-icon {
    @include m.state(var(--rc-on-surface-rgb));
    @include m.v-center($h);
    @include icons.btn-text($h, $fz, 12px, $type);
    color: var(--rc-on-#{$type});
    background-color: var(--rc-background);
    font-size: $fz;
    padding: 0 8px;
  }
}

.protyle-background {
  // 无题头图，无emoji
  min-height: $btn-top-l + $btns-h !important;
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  // 文档icon + 题头按钮组
  &__iconw {
    height: 0;
    top: $btn-top-l;
    display: block;

    // 题头按钮组
    .protyle-icons {
      @include btns();
      margin: $btn-top 0 0 -1px;
      .protyle-icon {
        border-radius: var(--b3-border-radius);
      }
    }
  }

  &:hover {
    .protyle-background__iconw .protyle-icons {
      opacity: 1;
    }
  }

  // 无题头图，有emoji
  &[style*="56px"],
  &[style*="64px"],
  &[style*="92px"],
    // 有文档标签
  &[style*="96px"],
  &[style*="100px"] {
    min-height: $icon-top + $icon-h + $btns-h !important;

    .protyle-background__iconw {
      top: $icon-top;
      // // 题头按钮组
      .protyle-icons {
        margin-top: $btn-top;
      }
    }
  }

  // 有题头图
  &[style*='30vh'] {
    min-height: 30vh !important;
    border-bottom: $icon-h - $icon-minus-top + $btns-h solid transparent;

    // 有题头图，有emoji
    .protyle-background__iconw {
      top: calc(30vh - $icon-minus-top);

      .protyle-background__icon:not(.fn__none) + .protyle-icons {
        margin-top: 8px;
      }

      //有题头图，无emoji
      .protyle-background__icon.fn__none + .protyle-icons {
        margin-top: $icon-h + 8px;
      }
    }
  }

  //题头图
  &__img {
    .protyle-icons {
      @include btns(26px, 12px, 'surface');
      box-shadow: var(--rc-button-shadow);

      // 题头图按钮
      .protyle-icon {
        border-radius: unset;
        @include icons.action();

        svg {
          width: 10px;
        }

        &:first-child {
          input {
            width: 100% !important;
          }
        }

        &:not(:last-child) {
          border-right: 1px solid var(--b3-border-color);
        }

        &[data-type='position']::after {
          content: '调整';
        }
      }

      // 拖动图片按钮组
      &[style*='opacity'] {
        opacity: 1 !important;
      }

      // 拖动图片提示条
      &:nth-child(3) {
        $h: 25.2px;
        height: $h;
        background: rgba(0, 0, 0, 0.4);
        opacity: 1 !important;
        right: auto !important;

        .protyle-icon {
          @include m.v-center($h);
          background-color: transparent;
          color: var(--rc-on-primary);
          padding: 0em 18px;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }

    &:hover .protyle-icons {
      opacity: 1 !important;
    }

    &::before {
      content: '';
      display: block;
      width: -webkit-fill-available;
      position: absolute;
      top: 60%;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        to top,
        white 2%,
        rgba(255, 255, 255, 0.97) 10%,
        rgba(255, 255, 255, 0.9) 18%,
        rgba(255, 255, 255, 0.75) 33%,
        rgba(255, 255, 255, 0.05) 92%,
        transparent 99%
      );
      pointer-events: none;
    }
  }

  //题头emoji
  &__icon {
    @include m.svg($icon-h);
    font-size: 54px;
    padding: 0;
    @include m.state(var(--rc-on-surface-rgb));
    border-radius: var(--b3-border-radius);
    margin-left: 3px;
  }
}
