@use 'sass:math';
@use '../mixins' as m;

@mixin action($type: 'base') {
  $btns-radius: var(--b3-border-radius);

  &--first {
    border-top-left-radius: $btns-radius;
    border-bottom-left-radius: $btns-radius;
  }

  &--last {
    border-top-right-radius: $btns-radius;
    border-bottom-right-radius: $btns-radius;
  }

  &--only {
    border-radius: $btns-radius;
  }
}

@mixin btn-text($h, $fz, $svg-w: 10px, $type) {
  display: inline-flex;
  width: auto;

  svg {
    @include m.svg($svg-w);
    margin: auto 0;
    margin-right: 6px;
  }

  &::after {
    @include m.reset-style();
    @include m.v-center($h);
    display: inline-flex;
    color: var(--rc-on-#{$type});
    font-size: $fz;
    position: unset;
    z-index: 0;
  }
}

.b3-typography,
.protyle-wysiwyg {
  .protyle-icon {
    @include action();
    @include m.svg-parent(25px, 11px);
    color: var(--rc-on-surface);
    padding-top: 0;
    padding-bottom: 0;

    svg {
      margin: math.div(25px - 11px, 2) 0;
    }

    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

.protyle-wysiwyg[contenteditable='true'] .render-node:hover > .protyle-icons {
  opacity: 1;
}
