@use '../mixins' as m;

.block {
  &__logo {
    gap: 8px;
    font-weight: 600;
    svg {
      color: rgba(var(--rc-primary));
      @include m.svg(13px);
    }
  }
  &__icon {
    @include m.svg-parent(24px, 12px);
    @include m.state(var(--rc-on-surface-variant), true);

    &s {
      padding-left: 14px;
      padding-right: 10px;
      .counter {
        color: rgba(var(--rc-on-surface));
        background: rgba(var(--rc-on-surface), 0.08);
      }
    }
    &[disabled] {
      @include m.disable(true);
    }

    &[type='checkbox'] {
      width: 14px;
      margin: 0 6px;
    }

    &[data-type='previous'],
    &[data-type='next'] {
      @include m.svg-parent(24px, 10px);
    }
  }
  &__popover {
    box-shadow: var(--rc-elevation-3);

    opacity: 0;
    margin-top: 25px;
    &--open {
      opacity: 1;
      margin-top: 0;
      transition: {
        property: opacity, margin-top;
        duration: 0.2s;
        timing-function: var(--rc-timing-function);
      }
    }
  }

  &__edit {
    border: none;
  }
}
