@use '../mixins' as m;

//表情面板
.emojis {
  padding: 8px;
  .b3-dialog__container:has(&) {
    padding: 0 !important;
    border-radius: var(--b3-border-radius-b);
  }
  // 顶部工具栏
  > .fn__flex:first-child {
    padding-bottom: 8px;
    .fn__space {
      &:first-child,
      &:last-child {
        display: none;
      }
    }

    .block__icon {
      @include m.svg-parent(var(--rc-component-height), 12px);
    }
  }

  &__panel {
    padding: 0 0 0 8px;
  }

  &__title {
    padding: 24px 0 8px;
    font-size: 12px;
    &:first-child {
      padding-top: 8px;
    }
  }

  &__content {
    gap: 6px;
  }

  &__item {
    font-size: 20px;
    @include m.div(32px);
    @include m.state(var(--rc-on-surface));
    img {
      @include m.svg(20px);
    }
  }

  > .fn__flex:last-child {
    padding-top: 8px;
    .emojis__type {
      border-radius: var(--b3-border-radius);
      @include m.state(var(--rc-on-surface));
    }
  }
}
