.sy__file {
  // 已关闭的笔记本
  > .b3-list {
    margin-top: 8px;
    margin-bottom: 4px;

    > .b3-list-item {
      margin-bottom: 8px !important;
    }

    > ul {
      margin-bottom: 8px;
    }
  }
}
