@use '../mixins' as m;

.sy {
  // 文档树
  &__file {
    overflow-x: hidden;
    > .fn__flex-1 {
      overflow-x: hidden;
    }
    // 已关闭的笔记本
    > .b3-list {
      margin-top: 8px;
      margin-bottom: 4px;

      > .b3-list-item {
        margin-bottom: 8px !important;
      }

      > ul {
        margin-bottom: 8px;
      }
    }
  }
  // 大纲
  &__outline {
    > .b3-list-item {
      background: var(--rc-background);
      border: 1px solid var(--b3-border-color);
      margin: 0 12px 12px;
      line-height: 32px;
    }
  }
  // 反链
  &__backlink {
    .b3-list-item::before {
      opacity: 0;
    }
    .protyle {
      border: 1px solid var(--b3-border-color);
      border-radius: var(--b3-border-radius);
      margin: 4px 0 8px;
      padding: 8px 0;
      font-size: 12px;

      &-wysiwyg {
        padding: 0 !important;
        > [data-node-id] {
          margin-left: 24px;
          [contenteditable] {
            font-size: 14px;
          }
        }
      }

      &-breadcrumb {
        &__bar {
          padding: 0 8px;
          &:not(:first-child) {
            margin-top: 8px;
            padding-top: 8px;
            border-top: 1px solid var(--b3-border-color);
          }
        }
      }
    }
  }
}

//关系图
.graph {
  background-color: transparent;
  &__svg,
  &__loading {
    background-color: transparent !important;
  }
  &__loading {
    border-radius: var(--b3-border-radius);
    > div {
      border-radius: var(--b3-border-radius);
    }
  }
  &__panel {
    top: 50px;
    bottom: 50px;
    box-shadow: var(--rc-elevation-2);
    border-radius: var(--b3-border-radius-b);
    padding: 8px 16px 16px;
    width: max(20%, 240px);
    right: min(calc(-20% - 10px), -250px);

    &[style*='right'] {
      right: 10px !important;
    }

    label {
      margin: 0;
      padding: 8px 4px;
      border-bottom: 1px solid var(--b3-border-color);

      span {
        font-size: 13px;
        line-height: 20px;
      }

      .b3-slider {
        width: max(60%, 80px);
      }
    }

    .fn__hr {
      height: 16px;
    }
  }
}
