:root {
  --mio-theme-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.08),
    rgba(68, 71, 70, 0.08)
  );
  --mio-theme-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --mio-theme-color-on-surface-2: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.08),
      rgba(31, 31, 31, 0.08)
    ),
    var(--mio-theme-color-secondary-container);
  --mio-theme-color-on-surface-4: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.12),
      rgba(31, 31, 31, 0.12)
    ),
    var(--mio-theme-color-secondary-container);
  --mio-theme-color-white: #fff;
  --mio-theme-color-on-background: #1f1f1f;
  --mio-theme-color-background: #fff;
  --mio-theme-color-on-surface: #1f1f1f;
  --mio-theme-color-on-surface-variant: #444746;
  --mio-theme-color-surface-0: #fff;
  --mio-theme-color-surface-variant: #e1e3e1;
  --mio-theme-color-inverse-surface: #303030;
  --mio-theme-color-inverse-on-surface: #f2f2f2;
  --mio-theme-color-primary: #0b57d0;
  --mio-theme-color-primary-80: #a8c7fa;
  --mio-theme-color-primary-30: #0842a0;
  --mio-theme-color-primary-20: #062e6f;
  --mio-theme-color-on-primary: #fff;
  --mio-theme-color-neutral-10: #1f1f1f;
  --mio-theme-color-neutral-90: #e3e3e3;
  --mio-theme-color-primary-container: #d3e3fd;
  --mio-theme-color-on-primary-container: #041e49;
  --mio-theme-color-secondary: #00639b;
  --mio-theme-color-on-secondary: #fff;
  --mio-theme-color-secondary-container: #c2e7ff;
  --mio-theme-color-on-secondary-container: #001d35;
  --mio-theme-color-tertiary-container: #c4eed0;
  --mio-theme-color-on-tertiary-container: #072711;
  --mio-theme-color-utility-error: #b3261e;
  --mio-theme-color-utility-on-error: #fff;
  --mio-theme-color-utility-outline: #747775;
  --mio-theme-color-surface-1: #f8fafd;
  --mio-theme-color-surface-2: #f3f6fc;
  --mio-theme-color-surface-3: #eff3fa;
  --mio-theme-color-surface-4: #edf2fa;
  --mio-theme-color-surface-5: #eaf0f9;
  --mio-theme-color-extensions-do-container: #085786;
  --mio-theme-color-extensions-on-do-container: #fff;
  --mio-theme-color-extensions-dont-container: #b3261e;
  --mio-theme-color-extensions-on-dont-container: #fff;
  --mio-theme-color-extensions-caution-container: #e8e971;
  --mio-theme-color-extensions-on-caution-container: #1f1f1f;
  --mio-theme-color-ref-secondary-200: #7fcfff;
  --mio-theme-color-ref-secondary-300: #5ab3f0;
  --mio-theme-color-ref-neutral-100: #e3e3e3;
  --mio-theme-color-ref-neutral-200: #c7c7c7;
  --mio-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
  --mio-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
  --mio-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
  --mio-theme-color-copy-link-tooltip: #f2f2f2;
  --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
  --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
  --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

:root {
  --md-source: #0b57d0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001847;
  --md-ref-palette-primary20: #002b72;
  --md-ref-palette-primary25: #003689;
  --md-ref-palette-primary30: #0040a1;
  --md-ref-palette-primary35: #004bb9;
  --md-ref-palette-primary40: #0856cf;
  --md-ref-palette-primary50: #3770ea;
  --md-ref-palette-primary60: #5b8cff;
  --md-ref-palette-primary70: #88a9ff;
  --md-ref-palette-primary80: #b2c5ff;
  --md-ref-palette-primary90: #dae2ff;
  --md-ref-palette-primary95: #eef0ff;
  --md-ref-palette-primary98: #faf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #001d33;
  --md-ref-palette-secondary20: #003353;
  --md-ref-palette-secondary25: #003e64;
  --md-ref-palette-secondary30: #004a76;
  --md-ref-palette-secondary35: #005688;
  --md-ref-palette-secondary40: #00639b;
  --md-ref-palette-secondary50: #227cbb;
  --md-ref-palette-secondary60: #4696d7;
  --md-ref-palette-secondary70: #64b1f3;
  --md-ref-palette-secondary80: #96cbff;
  --md-ref-palette-secondary90: #cee5ff;
  --md-ref-palette-secondary95: #e8f2ff;
  --md-ref-palette-secondary98: #f7f9ff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #072100;
  --md-ref-palette-tertiary20: #113800;
  --md-ref-palette-tertiary25: #164500;
  --md-ref-palette-tertiary30: #205107;
  --md-ref-palette-tertiary35: #2c5e14;
  --md-ref-palette-tertiary40: #386a1f;
  --md-ref-palette-tertiary50: #508436;
  --md-ref-palette-tertiary60: #699e4d;
  --md-ref-palette-tertiary70: #82ba65;
  --md-ref-palette-tertiary80: #9cd67e;
  --md-ref-palette-tertiary90: #b8f397;
  --md-ref-palette-tertiary95: #cdffb0;
  --md-ref-palette-tertiary98: #eeffde;
  --md-ref-palette-tertiary99: #f7ffec;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #001f25;
  --md-ref-palette-neutral20: #00363f;
  --md-ref-palette-neutral25: #00424d;
  --md-ref-palette-neutral30: #004e5b;
  --md-ref-palette-neutral35: #005b69;
  --md-ref-palette-neutral40: #006878;
  --md-ref-palette-neutral50: #008396;
  --md-ref-palette-neutral60: #009fb6;
  --md-ref-palette-neutral70: #29bbd5;
  --md-ref-palette-neutral80: #53d7f1;
  --md-ref-palette-neutral90: #a6eeff;
  --md-ref-palette-neutral95: #d6f6ff;
  --md-ref-palette-neutral98: #effbff;
  --md-ref-palette-neutral99: #f8fdff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191b23;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant40: #5c5e67;
  --md-ref-palette-neutral-variant50: #757780;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant70: #aaabb4;
  --md-ref-palette-neutral-variant80: #c5c6d0;
  --md-ref-palette-neutral-variant90: #e1e2ec;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant98: #faf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #0856cf;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #dae2ff;
  --md-sys-color-on-primary-container-light: #001847;
  --md-sys-color-secondary-light: #00639b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cee5ff;
  --md-sys-color-on-secondary-container-light: #001d33;
  --md-sys-color-tertiary-light: #386a1f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #b8f397;
  --md-sys-color-on-tertiary-container-light: #072100;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #f8fdff;
  --md-sys-color-on-background-light: #001f25;
  --md-sys-color-surface-light: #f8fdff;
  --md-sys-color-on-surface-light: #001f25;
  --md-sys-color-surface-variant-light: #e1e2ec;
  --md-sys-color-on-surface-variant-light: #45464f;
  --md-sys-color-outline-light: #757780;
  --md-sys-color-inverse-on-surface-light: #d6f6ff;
  --md-sys-color-inverse-surface-light: #00363f;
  --md-sys-color-inverse-primary-light: #b2c5ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #0856cf;
  --md-sys-color-outline-variant-light: #c5c6d0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #b2c5ff;
  --md-sys-color-on-primary-dark: #002b72;
  --md-sys-color-primary-container-dark: #0040a1;
  --md-sys-color-on-primary-container-dark: #dae2ff;
  --md-sys-color-secondary-dark: #96cbff;
  --md-sys-color-on-secondary-dark: #003353;
  --md-sys-color-secondary-container-dark: #004a76;
  --md-sys-color-on-secondary-container-dark: #cee5ff;
  --md-sys-color-tertiary-dark: #9cd67e;
  --md-sys-color-on-tertiary-dark: #113800;
  --md-sys-color-tertiary-container-dark: #205107;
  --md-sys-color-on-tertiary-container-dark: #b8f397;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001f25;
  --md-sys-color-on-background-dark: #a6eeff;
  --md-sys-color-surface-dark: #001f25;
  --md-sys-color-on-surface-dark: #a6eeff;
  --md-sys-color-surface-variant-dark: #45464f;
  --md-sys-color-on-surface-variant-dark: #c5c6d0;
  --md-sys-color-outline-dark: #8f909a;
  --md-sys-color-inverse-on-surface-dark: #001f25;
  --md-sys-color-inverse-surface-dark: #a6eeff;
  --md-sys-color-inverse-primary-dark: #0856cf;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #b2c5ff;
  --md-sys-color-outline-variant-dark: #45464f;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}

:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}
