:root {
  --mio-theme-color-on-surface-variant-2: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.08),
    rgba(68, 71, 70, 0.08)
  );
  --mio-theme-color-on-surface-variant-4: linear-gradient(
    0deg,
    rgba(68, 71, 70, 0.12),
    rgba(68, 71, 70, 0.12)
  );
  --mio-theme-color-on-surface-2: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.08),
      rgba(31, 31, 31, 0.08)
    ),
    var(--mio-theme-color-secondary-container);
  --mio-theme-color-on-surface-4: linear-gradient(
      0deg,
      rgba(31, 31, 31, 0.12),
      rgba(31, 31, 31, 0.12)
    ),
    var(--mio-theme-color-secondary-container);
  --mio-theme-color-white: #fff;
  --mio-theme-color-on-background: #1f1f1f;
  --mio-theme-color-background: #fff;
  --mio-theme-color-on-surface: #1f1f1f;
  --mio-theme-color-on-surface-variant: #444746;
  --mio-theme-color-surface-0: #fff;
  --mio-theme-color-surface-variant: #e1e3e1;
  --mio-theme-color-inverse-surface: #303030;
  --mio-theme-color-inverse-on-surface: #f2f2f2;
  --mio-theme-color-primary: #0b57d0;
  --mio-theme-color-primary-80: #a8c7fa;
  --mio-theme-color-primary-30: #0842a0;
  --mio-theme-color-primary-20: #062e6f;
  --mio-theme-color-on-primary: #fff;
  --mio-theme-color-neutral-10: #1f1f1f;
  --mio-theme-color-neutral-90: #e3e3e3;
  --mio-theme-color-primary-container: #d3e3fd;
  --mio-theme-color-on-primary-container: #041e49;
  --mio-theme-color-secondary: #00639b;
  --mio-theme-color-on-secondary: #fff;
  --mio-theme-color-secondary-container: #c2e7ff;
  --mio-theme-color-on-secondary-container: #001d35;
  --mio-theme-color-tertiary-container: #c4eed0;
  --mio-theme-color-on-tertiary-container: #072711;
  --mio-theme-color-utility-error: #b3261e;
  --mio-theme-color-utility-on-error: #fff;
  --mio-theme-color-utility-outline: #747775;
  --mio-theme-color-surface-1: #f8fafd;
  --mio-theme-color-surface-2: #f3f6fc;
  --mio-theme-color-surface-3: #eff3fa;
  --mio-theme-color-surface-4: #edf2fa;
  --mio-theme-color-surface-5: #eaf0f9;
  --mio-theme-color-extensions-do-container: #085786;
  --mio-theme-color-extensions-on-do-container: #fff;
  --mio-theme-color-extensions-dont-container: #b3261e;
  --mio-theme-color-extensions-on-dont-container: #fff;
  --mio-theme-color-extensions-caution-container: #e8e971;
  --mio-theme-color-extensions-on-caution-container: #1f1f1f;
  --mio-theme-color-ref-secondary-200: #7fcfff;
  --mio-theme-color-ref-secondary-300: #5ab3f0;
  --mio-theme-color-ref-neutral-100: #e3e3e3;
  --mio-theme-color-ref-neutral-200: #c7c7c7;
  --mio-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
  --mio-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
  --mio-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
  --mio-theme-color-copy-link-tooltip: #f2f2f2;
  --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
  --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
  --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%);
}

:root {
  --md-source: #0b57d0;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001847;
  --md-ref-palette-primary20: #002b72;
  --md-ref-palette-primary25: #003689;
  --md-ref-palette-primary30: #0040a1;
  --md-ref-palette-primary35: #004bb9;
  --md-ref-palette-primary40: #0856cf;
  --md-ref-palette-primary50: #3770ea;
  --md-ref-palette-primary60: #5b8cff;
  --md-ref-palette-primary70: #88a9ff;
  --md-ref-palette-primary80: #b2c5ff;
  --md-ref-palette-primary90: #dae2ff;
  --md-ref-palette-primary95: #eef0ff;
  --md-ref-palette-primary98: #faf8ff;
  --md-ref-palette-primary99: #fefbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #001d33;
  --md-ref-palette-secondary20: #003353;
  --md-ref-palette-secondary25: #003e64;
  --md-ref-palette-secondary30: #004a76;
  --md-ref-palette-secondary35: #005688;
  --md-ref-palette-secondary40: #00639b;
  --md-ref-palette-secondary50: #227cbb;
  --md-ref-palette-secondary60: #4696d7;
  --md-ref-palette-secondary70: #64b1f3;
  --md-ref-palette-secondary80: #96cbff;
  --md-ref-palette-secondary90: #cee5ff;
  --md-ref-palette-secondary95: #e8f2ff;
  --md-ref-palette-secondary98: #f7f9ff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #072100;
  --md-ref-palette-tertiary20: #113800;
  --md-ref-palette-tertiary25: #164500;
  --md-ref-palette-tertiary30: #205107;
  --md-ref-palette-tertiary35: #2c5e14;
  --md-ref-palette-tertiary40: #386a1f;
  --md-ref-palette-tertiary50: #508436;
  --md-ref-palette-tertiary60: #699e4d;
  --md-ref-palette-tertiary70: #82ba65;
  --md-ref-palette-tertiary80: #9cd67e;
  --md-ref-palette-tertiary90: #b8f397;
  --md-ref-palette-tertiary95: #cdffb0;
  --md-ref-palette-tertiary98: #eeffde;
  --md-ref-palette-tertiary99: #f7ffec;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #001f25;
  --md-ref-palette-neutral20: #00363f;
  --md-ref-palette-neutral25: #00424d;
  --md-ref-palette-neutral30: #004e5b;
  --md-ref-palette-neutral35: #005b69;
  --md-ref-palette-neutral40: #006878;
  --md-ref-palette-neutral50: #008396;
  --md-ref-palette-neutral60: #009fb6;
  --md-ref-palette-neutral70: #29bbd5;
  --md-ref-palette-neutral80: #53d7f1;
  --md-ref-palette-neutral90: #a6eeff;
  --md-ref-palette-neutral95: #d6f6ff;
  --md-ref-palette-neutral98: #effbff;
  --md-ref-palette-neutral99: #f8fdff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #191b23;
  --md-ref-palette-neutral-variant20: #2e3038;
  --md-ref-palette-neutral-variant25: #393b43;
  --md-ref-palette-neutral-variant30: #45464f;
  --md-ref-palette-neutral-variant35: #50525a;
  --md-ref-palette-neutral-variant40: #5c5e67;
  --md-ref-palette-neutral-variant50: #757780;
  --md-ref-palette-neutral-variant60: #8f909a;
  --md-ref-palette-neutral-variant70: #aaabb4;
  --md-ref-palette-neutral-variant80: #c5c6d0;
  --md-ref-palette-neutral-variant90: #e1e2ec;
  --md-ref-palette-neutral-variant95: #f0f0fa;
  --md-ref-palette-neutral-variant98: #faf8ff;
  --md-ref-palette-neutral-variant99: #fefbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #0856cf;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #dae2ff;
  --md-sys-color-on-primary-container-light: #001847;
  --md-sys-color-secondary-light: #00639b;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #cee5ff;
  --md-sys-color-on-secondary-container-light: #001d33;
  --md-sys-color-tertiary-light: #386a1f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #b8f397;
  --md-sys-color-on-tertiary-container-light: #072100;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #f8fdff;
  --md-sys-color-on-background-light: #001f25;
  --md-sys-color-surface-light: #f8fdff;
  --md-sys-color-on-surface-light: #001f25;
  --md-sys-color-surface-variant-light: #e1e2ec;
  --md-sys-color-on-surface-variant-light: #45464f;
  --md-sys-color-outline-light: #757780;
  --md-sys-color-inverse-on-surface-light: #d6f6ff;
  --md-sys-color-inverse-surface-light: #00363f;
  --md-sys-color-inverse-primary-light: #b2c5ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #0856cf;
  --md-sys-color-outline-variant-light: #c5c6d0;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #b2c5ff;
  --md-sys-color-on-primary-dark: #002b72;
  --md-sys-color-primary-container-dark: #0040a1;
  --md-sys-color-on-primary-container-dark: #dae2ff;
  --md-sys-color-secondary-dark: #96cbff;
  --md-sys-color-on-secondary-dark: #003353;
  --md-sys-color-secondary-container-dark: #004a76;
  --md-sys-color-on-secondary-container-dark: #cee5ff;
  --md-sys-color-tertiary-dark: #9cd67e;
  --md-sys-color-on-tertiary-dark: #113800;
  --md-sys-color-tertiary-container-dark: #205107;
  --md-sys-color-on-tertiary-container-dark: #b8f397;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #001f25;
  --md-sys-color-on-background-dark: #a6eeff;
  --md-sys-color-surface-dark: #001f25;
  --md-sys-color-on-surface-dark: #a6eeff;
  --md-sys-color-surface-variant-dark: #45464f;
  --md-sys-color-on-surface-variant-dark: #c5c6d0;
  --md-sys-color-outline-dark: #8f909a;
  --md-sys-color-inverse-on-surface-dark: #001f25;
  --md-sys-color-inverse-surface-dark: #a6eeff;
  --md-sys-color-inverse-primary-dark: #0856cf;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #b2c5ff;
  --md-sys-color-outline-variant-dark: #45464f;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}

:root {
  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-light);
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-light);
  --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-light);
  --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-light);
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-light);
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-light);
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
}

:root {
  --bard-color-inverse-on-surface: #f2f2f2;
  --bard-color-inverse-on-surface-rgb: 242, 242, 242;
  --bard-color-neutral-90: #e3e3e3;
  --bard-color-neutral-90-rgb: 227, 227, 227;
  --bard-color-neutral-95: #f2f2f2;
  --bard-color-neutral-95-rgb: 242, 242, 242;
  --bard-color-neutral-96: #f4f3f2;
  --bard-color-neutral-96-rgb: 244, 243, 242;
  --bard-color-on-primary: #fff;
  --bard-color-on-primary-rgb: 255, 255, 255;
  --bard-color-on-secondary-container: #c2e7ff;
  --bard-color-on-secondary-container-rgb: 194, 231, 255;
  --bard-color-on-surface: #1f1f1f;
  --bard-color-on-surface-rgb: 31, 31, 31;
  --bard-color-on-surface-variant: #444746;
  --bard-color-on-surface-variant-rgb: 68, 71, 70;
  --bard-color-on-surface-variant-opacity-12: rgba(68, 71, 70, 0.1215686275);
  --bard-color-on-surface-variant-opacity-12-rgb: 68, 71, 70;
  --bard-color-outline: #747775;
  --bard-color-outline-rgb: 116, 119, 117;
  --bard-color-outline-variant: #c4c7c5;
  --bard-color-outline-variant-rgb: 196, 199, 197;
  --bard-color-primary: #0b57d0;
  --bard-color-primary-rgb: 11, 87, 208;
  --bard-color-primary-60: #4c8df6;
  --bard-color-primary-60-rgb: 76, 141, 246;
  --bard-color-primary-70: #7cacf8;
  --bard-color-primary-70-rgb: 124, 172, 248;
  --bard-color-primary-opacity-08: rgba(11, 87, 208, 0.0784313725);
  --bard-color-primary-opacity-08-rgb: 11, 87, 208;
  --bard-color-primary-opacity-12: rgba(11, 87, 208, 0.1215686275);
  --bard-color-primary-opacity-12-rgb: 11, 87, 208;
  --bard-color-primary-container: #d3e3fd;
  --bard-color-primary-container-rgb: 211, 227, 253;
  --bard-color-surface: #fff;
  --bard-color-surface-rgb: 255, 255, 255;
  --bard-color-surface-container: #f0f4f9;
  --bard-color-surface-container-rgb: 240, 244, 249;
  --bard-color-surface-container-high: #e9e8e8;
  --bard-color-surface-container-high-rgb: 233, 232, 232;
  --bard-color-surface-container-low: #f8fafd;
  --bard-color-surface-container-low-rgb: 248, 250, 253;
  --bard-color-surface-tint: #6991d6;
  --bard-color-surface-tint-rgb: 105, 145, 214;
  --bard-color-inverse-primary: #a8c7fa;
  --bard-color-inverse-primary-rgb: 168, 199, 250;
  --bard-color-error-container: #f9dedc;
  --bard-color-error-container-rgb: 249, 222, 220;
  --bard-color-error: #b3261e;
  --bard-color-error-rgb: 179, 38, 30;
  --bard-color-error-90: #f9dedc;
  --bard-color-error-90-rgb: 249, 222, 220;
  --bard-color-error-40: #b3261e;
  --bard-color-error-40-rgb: 179, 38, 30;
  --bard-color-tertiary-container: #c4eed0;
  --bard-color-tertiary-container-rgb: 196, 238, 208;
  --bard-color-tertiary-container-opaque: #b2d7bd;
  --bard-color-tertiary-container-opaque-rgb: 178, 215, 189;
  --bard-color-tertiary-20: #0a3818;
  --bard-color-tertiary-20-rgb: 10, 56, 24;
  --bard-color-tertiary-60: #1ea446;
  --bard-color-tertiary-60-rgb: 30, 164, 70;
  --bard-color-surface-3-opacity-11: rgba(105, 145, 214, 0.1098039216);
  --bard-color-surface-3-opacity-11-rgb: 105, 145, 214;
  --bard-color-surface-4-opacity-12: rgba(105, 145, 214, 0.1215686275);
  --bard-color-surface-4-opacity-12-rgb: 105, 145, 214;
  --bard-color-surface-5-opacity-14: rgba(105, 145, 214, 0.1411764706);
  --bard-color-surface-5-opacity-14-rgb: 105, 145, 214;
  --bard-color-footer-background: #f8f9fa;
  --bard-color-footer-background-rgb: 248, 249, 250;
  --bard-color-main-container-background: #f3f6fc;
  --bard-color-main-container-background-rgb: 243, 246, 252;
  --bard-color-disabled-icon: rgba(60, 64, 67, 0.3803921569);
  --bard-color-disabled-icon-rgb: 60, 64, 67;
  --bard-color-draft-chip-background: #e8eaed;
  --bard-color-draft-chip-background-rgb: 232, 234, 237;
  --bard-color-sidenav-background: #fff;
  --bard-color-sidenav-background-rgb: 255, 255, 255;
  --bard-color-primary-background: #fff;
  --bard-color-primary-background-rgb: 255, 255, 255;
  --bard-color-inverse-primary-background: #000;
  --bard-color-inverse-primary-background-rgb: 0, 0, 0;
  --bard-color-response-container-background: #fff;
  --bard-color-response-container-background-rgb: 255, 255, 255;
  --bard-color-sos-footer: #757575;
  --bard-color-sos-footer-rgb: 117, 117, 117;
  --bard-color-code-block-background: #f8fafd;
  --bard-color-code-block-background-rgb: 248, 250, 253;
  --bard-color-code-comment: #5f6368;
  --bard-color-code-comment-rgb: 95, 99, 104;
  --bard-color-code-variables: #d93025;
  --bard-color-code-variables-rgb: 217, 48, 37;
  --bard-color-code-literal: #b55908;
  --bard-color-code-literal-rgb: 181, 89, 8;
  --bard-color-code-class: #996900;
  --bard-color-code-class-rgb: 153, 105, 0;
  --bard-color-code-string: #188038;
  --bard-color-code-string-rgb: 24, 128, 56;
  --bard-color-code-quotes-and-meta: #1967d2;
  --bard-color-code-quotes-and-meta-rgb: 25, 103, 210;
  --bard-color-code-keyword: #8430ce;
  --bard-color-code-keyword-rgb: 132, 48, 206;
  --bard-color-continue-chat-discovery-dialog-background: #e9eef6;
  --bard-color-continue-chat-discovery-dialog-background-rgb: 233, 238, 246;
  --bard-color-action-tooltip-background: #d3e3fd;
  --bard-color-action-tooltip-background-rgb: 211, 227, 253;
  --bard-color-recitation-tooltip-background: #a8c7fa;
  --bard-color-recitation-tooltip-background-rgb: 168, 199, 250;
  --bard-color-fact-check-tooltip-background: #fff;
  --bard-color-fact-check-tooltip-background-rgb: 255, 255, 255;
  --bard-color-fact-check-tooltip-entailed-highlight: #ceead6;
  --bard-color-fact-check-tooltip-entailed-highlight-rgb: 206, 234, 214;
  --bard-color-fact-check-tooltip-entailed-selected: #a8dab5;
  --bard-color-fact-check-tooltip-entailed-selected-rgb: 168, 218, 181;
  --bard-color-fact-check-tooltip-entailed-title: #0d652d;
  --bard-color-fact-check-tooltip-entailed-title-rgb: 13, 101, 45;
  --bard-color-fact-check-tooltip-contradictory-highlight: #fedfc8;
  --bard-color-fact-check-tooltip-contradictory-highlight-rgb: 254, 223, 200;
  --bard-color-fact-check-tooltip-contradictory-selected: #fdc69c;
  --bard-color-fact-check-tooltip-contradictory-selected-rgb: 253, 198, 156;
  --bard-color-fact-check-tooltip-contradictory-title: #b06000;
  --bard-color-fact-check-tooltip-contradictory-title-rgb: 176, 96, 0;
  --bard-color-fact-check-button-complete: #d3e3fd;
  --bard-color-fact-check-button-complete-rgb: 211, 227, 253;
  --bard-color-fact-check-button-loading: #f0f4f9;
  --bard-color-fact-check-button-loading-rgb: 240, 244, 249;
  --bard-color-tooltip-box-shadow: rgba(60, 64, 67, 0.16);
  --bard-color-tooltip-box-shadow-rgb: 60, 64, 67;
  --bard-color-sentence-prefix-color: #000;
  --bard-color-sentence-prefix-color-rgb: 0, 0, 0;
  --bard-color-sentence-words-color: #80868b;
  --bard-color-sentence-words-color-rgb: 128, 134, 139;
  --bard-color-image-overlay-background: rgba(255, 255, 255, 0.75);
  --bard-color-image-overlay-background-rgb: 255, 255, 255;
  --bard-color-internal-banner: #fbbc04;
  --bard-color-internal-banner-rgb: 251, 188, 4;
  --bard-color-regular-banner: #303030;
  --bard-color-regular-banner-rgb: 48, 48, 48;
  --bard-color-regular-banner-text: #f2f2f2;
  --bard-color-regular-banner-text-rgb: 242, 242, 242;
  --bard-color-update-button-edit-container: #1a73e8;
  --bard-color-update-button-edit-container-rgb: 26, 115, 232;
  --bard-color-share-link: #0842a0;
  --bard-color-share-link-rgb: 8, 66, 160;
  --bard-color-strong-focus-indicator: #000;
  --bard-color-strong-focus-indicator-rgb: 0, 0, 0;
  --bard-color-inverse-strong-focus-indicator: #fff;
  --bard-color-inverse-strong-focus-indicator-rgb: 255, 255, 255;
  --bard-color-link-button: #0b57d0;
  --bard-color-link-button-rgb: 11, 87, 208;
  --bard-color-file-background: #f0f4f9;
  --bard-color-file-background-rgb: 240, 244, 249;
  --bard-color-file-preview-cancel-surface: #dde3ea;
  --bard-color-file-preview-cancel-surface-rgb: 221, 227, 234;
  --bard-color-processing-state-background-1: #dbe7ff;
  --bard-color-processing-state-background-1-rgb: 219, 231, 255;
  --bard-color-processing-state-background-2: #ecf1ff;
  --bard-color-processing-state-background-2-rgb: 236, 241, 255;
  --bard-color-processing-state-background-3: #dddeff;
  --bard-color-processing-state-background-3-rgb: 221, 222, 255;
  --bard-color-tool-fuse-background-left: #dddeff;
  --bard-color-tool-fuse-background-left-rgb: 221, 222, 255;
  --bard-color-tool-fuse-background-middle: #e7e9fe;
  --bard-color-tool-fuse-background-middle-rgb: 231, 233, 254;
  --bard-color-tool-fuse-background-right: #f3f6fc;
  --bard-color-tool-fuse-background-right-rgb: 243, 246, 252;
  --bard-color-tool-fuse-foreground-left: #cbddff;
  --bard-color-tool-fuse-foreground-left-rgb: 203, 221, 255;
  --bard-color-tool-fuse-foreground-middle: #d8e2ff;
  --bard-color-tool-fuse-foreground-middle-rgb: 216, 226, 255;
  --bard-color-tool-fuse-foreground-right: #ccceff;
  --bard-color-tool-fuse-foreground-right-rgb: 204, 206, 255;
  --bard-color-bard-logo-circle-stop-1: #1ba1e3;
  --bard-color-bard-logo-circle-stop-1-rgb: 27, 161, 227;
  --bard-color-bard-logo-circle-stop-2: #5489d6;
  --bard-color-bard-logo-circle-stop-2-rgb: 84, 137, 214;
  --bard-color-bard-logo-circle-stop-3: #9b72cb;
  --bard-color-bard-logo-circle-stop-3-rgb: 155, 114, 203;
  --bard-color-bard-logo-circle-stop-4: #d96570;
  --bard-color-bard-logo-circle-stop-4-rgb: 217, 101, 112;
  --bard-color-bard-logo-circle-stop-5: #f49c46;
  --bard-color-bard-logo-circle-stop-5-rgb: 244, 156, 70;
  --bard-color-processing-state-pill-background: #f3f6fc;
  --bard-color-processing-state-pill-background-rgb: 243, 246, 252;
  --bard-color-icon-separator: #d9d9d9;
  --bard-color-icon-separator-rgb: 217, 217, 217;
  --bard-color-chrome-experiment-badge: #1b6ef3;
  --bard-color-chrome-experiment-badge-rgb: 27, 110, 243;
  --bard-color-onegooglebar-product-controls: #5f6368;
  --bard-color-onegooglebar-product-controls-rgb: 95, 99, 104;
  --bard-color-human-reviewer-disclosure-banner-background: #f8fafd;
  --bard-color-human-reviewer-disclosure-banner-background-rgb: 248, 250, 253;
  --bard-color-human-reviewer-disclosure-banner-link: #000;
  --bard-color-human-reviewer-disclosure-banner-link-rgb: 0, 0, 0;
  --bard-color-share-title-card-border: #c4c7c5;
  --bard-color-share-title-card-border-rgb: 196, 199, 197;
  --bard-color-share-title-card-icon: #0b57d0;
  --bard-color-share-title-card-icon-rgb: 11, 87, 208;
  --bard-color-share-title-card-editmode-text: #0b57d0;
  --bard-color-share-title-card-editmode-text-rgb: 11, 87, 208;
  --bard-color-share-title-card-editmode-focus: #3c4043;
  --bard-color-share-title-card-editmode-focus-rgb: 60, 64, 67;
  --bard-color-share-selected-title-card-border: #0b57d0;
  --bard-color-share-selected-title-card-border-rgb: 11, 87, 208;
  --bard-color-share-selected-title-card-background: rgba(11, 87, 208, 0.12);
  --bard-color-share-selected-title-card-background-rgb: 11, 87, 208;
  --bard-color-share-selected-title-card-background-active: rgba(11, 87, 208, 0.12);
  --bard-color-share-selected-title-card-background-active-rgb: 11, 87, 208;
  --bard-color-share-selected-title-card-text: #1f1f1f;
  --bard-color-share-selected-title-card-text-rgb: 31, 31, 31;
  --bard-color-share-social-media-icon-focus: #e9eef6;
  --bard-color-share-social-media-icon-focus-rgb: 233, 238, 246;
  --bard-color-share-social-media-icon-background: #f8fafd;
  --bard-color-share-social-media-icon-background-rgb: 248, 250, 253;
  --bard-color-image-lightbox-text: #757575;
  --bard-color-image-lightbox-text-rgb: 117, 117, 117;
  --bard-color-form-field-outline: #80868b;
  --bard-color-form-field-outline-rgb: 128, 134, 139;
  --bard-color-form-field-outline-active: #1a73e8;
  --bard-color-form-field-outline-active-rgb: 26, 115, 232;
  --bard-color-form-field-outline-hover: #202124;
  --bard-color-form-field-outline-hover-rgb: 32, 33, 36;
  --bard-color-form-field-placeholder: #5f6368;
  --bard-color-form-field-placeholder-rgb: 95, 99, 104;
  --bard-color-form-field-outline-disabled: rgba(60, 64, 67, 0.12);
  --bard-color-form-field-outline-disabled-rgb: 60, 64, 67;
  --bard-color-feedback-form-background: #d3e3fd;
  --bard-color-feedback-form-background-rgb: 211, 227, 253;
  --bard-color-feedback-form-footer-text: #041e49;
  --bard-color-feedback-form-footer-text-rgb: 4, 30, 73;
  --bard-color-feedback-header-background: #f3f6fc;
  --bard-color-feedback-header-background-rgb: 243, 246, 252;
  --bard-color-cookie-banner-surface: #fff;
  --bard-color-cookie-banner-surface-rgb: 255, 255, 255;
  --bard-color-cookie-banner-on-surface: #5f6368;
  --bard-color-cookie-banner-on-surface-rgb: 95, 99, 104;
  --bard-color-zero-state-variant-subtitle: rgba(0, 0, 0, 0.64);
  --bard-color-zero-state-variant-subtitle-rgb: 0, 0, 0;
  --bard-color-zero-state-card-background: #fff;
  --bard-color-zero-state-card-background-rgb: 255, 255, 255;
  --bard-color-zero-state-pill-background: #eff2f8;
  --bard-color-zero-state-pill-background-rgb: 239, 242, 248;
  --bard-color-zero-state-pill-text: rgba(0, 0, 0, 0.64);
  --bard-color-zero-state-pill-text-rgb: 0, 0, 0;
  --bard-color-zero-state-selected-pill-background: #1b6ef3;
  --bard-color-zero-state-selected-pill-background-rgb: 27, 110, 243;
  --bard-color-zero-state-selected-pill-text: #fff;
  --bard-color-zero-state-selected-pill-text-rgb: 255, 255, 255;
  --bard-color-rich-tooltip-container: #f0f4f9;
  --bard-color-rich-tooltip-container-rgb: 240, 244, 249;
  --bard-color-processing-animation-color-1: #e3e3e3;
  --bard-color-processing-animation-color-1-rgb: 227, 227, 227;
  --bard-color-processing-animation-color-2: #f0f4f9;
  --bard-color-processing-animation-color-2-rgb: 240, 244, 249;
  --bard-color-tts-token-highlight: #ff0;
  --bard-color-tts-token-highlight-rgb: 255, 255, 0;
  --bard-color-tts-sentence-highlight: #e8e8e8;
  --bard-color-tts-sentence-highlight-rgb: 232, 232, 232;
  --bard-color-safety-disclaimer-text: #000;
  --bard-color-safety-disclaimer-text-rgb: 0, 0, 0;
}
