@use 'material-design';
:root,
:host {
  --md-sys-color-background: #faf8ff;
  --md-sys-color-on-background: #191b23;
  --md-sys-color-surface: #faf8ff;
  --md-sys-color-surface-dim: #d9d9e4;
  --md-sys-color-surface-bright: #faf8ff;

  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3fd;
  --md-sys-color-surface-container: #ededf8;
  --md-sys-color-surface-container-high: #e7e7f2;
  --md-sys-color-surface-container-highest: #e1e2ec;

  --md-sys-color-on-surface: #191b23;
  --md-sys-color-surface-variant: #dfe2f3;
  --md-sys-color-on-surface-variant: #424654;
  --md-sys-color-inverse-surface: #2e3038;
  --md-sys-color-inverse-on-surface: #f0f0fb;
  --md-sys-color-outline: #737785;
  --md-sys-color-outline-variant: #c3c6d6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0856cf;
  --md-sys-color-primary: #0043a8;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2b67e0;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b2c5ff;
  --md-sys-color-secondary: #4b5d8c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #c0cfff;
  --md-sys-color-on-secondary-container: #293b68;
  --md-sys-color-tertiary: #751c92;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #9e47ba;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #410002;
}
:root {
  --rc-primary-rgb: var(--bard-color-primary-rgb);
  --rc-primary: rgb(var(--rc-primary-rgb));
  --rc-on-primary: var(--bard-color-on-primary);
  --rc-primary-container: var(--bard-color-primary-container);
  --rc-on-primary-container: var(--mio-theme-color-on-primary-container);

  --rc-secondary: var(--mio-theme-color-secondary);
  --rc-on-secondary: var(--mio-theme-color-on-secondary);
  --rc-secondary-container: var(--mio-theme-color-secondary-container);
  --rc-on-secondary-container: var(--mio-theme-color-on-secondary-container);

  --rc-tertiary: var(--bard-color-tertiary-60);
  --rc-on-tertiary: var(--md-sys-color-on-tertiary);
  --rc-tertiary-container: var(--bard-color-tertiary-container);
  --rc-on-tertiary-container: var(--mio-theme-color-on-tertiary-container);

  --rc-info: rgb(var(--bard-color-primary-rgb));
  --rc-on-info: var(--bard-color-on-primary);
  --rc-info-container: var(--bard-color-primary-container);
  --rc-on-info-container: var(--mio-theme-color-on-primary-container);

  --rc-success: var(--bard-color-tertiary-60);
  --rc-on-success: var(--md-sys-color-on-tertiary);
  --rc-success-container: var(--bard-color-tertiary-container);
  --rc-on-success-container: var(--mio-theme-color-on-tertiary-container);

  --rc-error: var(--bard-color-error);
  --rc-on-error: var(--rc-on-primary);
  --rc-error-container: var(--bard-color-error-container);
  --rc-on-error-container: var(--md-sys-color-on-error-container);

  --rc-warning: #ff9100;
  --rc-on-warning: #fff;
  --rc-warning-container: rgb(253, 226, 147);
  --rc-on-warning-container: #1d1d00;

  --rc-background: var(--bard-color-primary-background);
  --rc-on-background: var(--bard-color-on-surface-rgb);
  --rc-inverse-background: var(--bard-color-inverse-primary-background);

  --rc-base: rgb(211, 227, 253);
  --rc-surface: rgb(236, 242, 251);
  --rc-surface-variant: var(--mio-theme-color-surface-variant);
  --rc-on-surface-rgb: var(--bard-color-on-surface-rgb);
  --rc-on-surface: rgb(var(--rc-on-surface-rgb));
  --rc-on-surface-variant-rgb: var(--bard-color-on-surface-variant-rgb);
  --rc-on-surface-variant: rgb(var(--rc-on-surface-variant-rgb));

  --b3-theme-primary: var(--rc-primary);
  --b3-theme-primary-light: rgba(var(--rc-primary-rgb), 0.1);
  --b3-theme-primary-lighter: rgba(var(--rc-primary-rgb), 0.1);
  --b3-theme-primary-lightest: rgba(var(--rc-primary-rgb), 0.08);
  --b3-theme-background: var(--rc-background);
  --b3-theme-background-light: var(--rc-surface-variant);
  --b3-theme-surface: var(--rc-surface);
  --b3-theme-surface-lighter: var(--rc-surface-variant);
  --b3-theme-error: var(--rc-error);
  --b3-theme-success: var(--rc-tertiary);

  /* 文字颜色 */
  --b3-theme-on-primary: var(--rc-on-primary);
  --b3-theme-on-secondary: var(--rc-on-secondary);
  --b3-theme-on-background: rgba(var(--rc-on-background));
  --b3-theme-on-surface: var(--rc-on-surface);
  --b3-theme-on-surface-light: var(--rc-on-surface);
  --b3-theme-on-error: var(--rc-on-error);

  /* 线条 */
  --b3-border-color: rgba(var(--rc-on-surface-rgb), 0.1);
  --b3-border-radius: 4px;
  --b3-border-radius-b: 8px;
  --rc-border-radius-dialog: 16px;
  --rc-border-radius-max: 9999px;
  --rc-outline: var(--mio-theme-color-utility-outline);

  --rc-component-height: 30px;

  --rc-card-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.008), 0px 0px 0.3px rgba(0, 0, 0, 0.012),
    0px 0px 0.5px rgba(0, 0, 0, 0.015), 0px 0px 0.7px rgba(0, 0, 0, 0.018),
    0px 0px 1px rgba(0, 0, 0, 0.02), 0px 0px 1.4px rgba(0, 0, 0, 0.022),
    0px 0px 2px rgba(0, 0, 0, 0.025), 0px 0px 2.9px rgba(0, 0, 0, 0.028),
    0px 0px 4.5px rgba(0, 0, 0, 0.032), 0px 0px 8px rgba(0, 0, 0, 0.04);
  --rc-elevation-1: var(--mio-theme-elevation-1);
  --rc-elevation-2: var(--mio-theme-elevation-2);
  --rc-elevation-3: var(--mio-theme-elevation-3);

  --rc-scrim: var(--mio-theme-color-scrim-video-container);

  /* 动画效果 */
  --rc-timing-function: cubic-bezier(0.2, 0, 0, 1);
  --b3-transition: all 0.2s var(--rc-timing-function) 0ms;
  --b3-width-transition: width 0.2s var(--rc-timing-function) 0ms;
  --b3-color-transition: color 0.2s var(--rc-timing-function) 0ms;
}
