@use 'material-design';

:root {
  --rc-primary: var(--bard-color-primary-rgb);
  --rc-on-primary: var(--bard-color-on-primary);
  --rc-primary-container: var(--bard-color-primary-container);
  --rc-on-primary-container: var(--mio-theme-color-on-primary-container);

  --rc-secondary: var(--mio-theme-color-secondary);
  --rc-on-secondary: var(--mio-theme-color-on-secondary);
  --rc-secondary-container: var(--mio-theme-color-secondary-container);
  --rc-on-secondary-container: var(--mio-theme-color-on-secondary-container);

  --rc-tertiary: var(--md-sys-color-tertiary);
  --rc-on-tertiary: var(--md-sys-color-on-tertiary);
  --rc-tertiary-container: var(--bard-color-tertiary-container);
  --rc-on-tertiary-container: var(--mio-theme-color-on-tertiary-container);

  --rc-error: var(--bard-color-error);
  --rc-on-error: var(--rc-on-primary);
  --rc-error-container: var(--bard-color-error-container);
  --rc-on-error-container: var(--md-sys-color-on-error-container);

  --rc-warning: #616200;
  --rc-on-warning: #fff;
  --rc-warning-container: #e8e971;
  --rc-on-warning-container: #1d1d00;

  --rc-background: var(--bard-color-primary-background);
  --rc-on-background: var(--bard-color-on-surface-rgb);
  --rc-inverse-background: var(--bard-color-inverse-primary-background);

  --rc-surface-1: var(--mio-theme-color-surface-1);
  --rc-surface-2: var(--mio-theme-color-surface-2);
  --rc-surface-3: var(--mio-theme-color-surface-3);
  --rc-surface-4: var(--mio-theme-color-surface-4);
  --rc-surface-5: var(--mio-theme-color-surface-5);
  --rc-surface: var(--rc-surface-2);
  --rc-surface-variant: var(--mio-theme-color-surface-variant);
  --rc-on-surface: var(--bard-color-on-surface-rgb);
  --rc-on-surface-variant: var(--bard-color-on-surface-variant-rgb);

  --b3-theme-primary: rgba(var(--rc-primary));
  --b3-theme-primary-light: rgba(var(--rc-primary), 0.12);
  --b3-theme-primary-lighter: rgba(var(--rc-primary), 0.12);
  --b3-theme-primary-lightest: rgba(var(--rc-primary), 0.08);
  --b3-theme-background: var(--rc-background);
  --b3-theme-background-light: var(--rc-surface-variant);
  --b3-theme-surface: var(--rc-surface);
  --b3-theme-surface-lighter: var(--rc-surface-variant);
  --b3-theme-error: var(--rc-error);

  /* 文字颜色 */
  --b3-theme-on-primary: var(--rc-on-primary);
  --b3-theme-on-secondary: var(--rc-on-secondary);
  --b3-theme-on-background: rgba(var(--rc-on-background));
  --b3-theme-on-surface: rgba(var(--rc-on-surface));
  --b3-theme-on-surface-light: rgba(var(--rc-on-surface-variant));
  --b3-theme-on-error: var(--rc-on-error);

  /* 线条 */
  --b3-border-color: var(--rc-surface-variant);
  --b3-border-radius: 4px;
  --b3-border-radius-b: 8px;
  --rc-border-radius-max: 9999px;
  --rc-outline: var(--mio-theme-color-utility-outline);

  --rc-component-height: 30px;

  --rc-card-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.008), 0px 0px 0.3px rgba(0, 0, 0, 0.012),
    0px 0px 0.5px rgba(0, 0, 0, 0.015), 0px 0px 0.7px rgba(0, 0, 0, 0.018),
    0px 0px 1px rgba(0, 0, 0, 0.02), 0px 0px 1.4px rgba(0, 0, 0, 0.022),
    0px 0px 2px rgba(0, 0, 0, 0.025), 0px 0px 2.9px rgba(0, 0, 0, 0.028),
    0px 0px 4.5px rgba(0, 0, 0, 0.032), 0px 0px 8px rgba(0, 0, 0, 0.04);
  --rc-elevation-0: 0px 0px 1.5px rgba(0, 0, 0, 0.15);
  --rc-elevation-1: var(--mio-theme-elevation-1);
  --rc-elevation-2: var(--mio-theme-elevation-2);
  --rc-elevation-3: var(--mio-theme-elevation-3);

  --rc-scrim: var(--mio-theme-color-scrim-video-container);
  /* 动画效果 */
  --rc-timing-function: cubic-bezier(0.2, 0, 0, 1);
  --b3-transition: all 0.2s var(--rc-timing-function) 0ms;
  --b3-width-transition: width 0.2s var(--rc-timing-function) 0ms;
}
