@use '../mixins' as m;
@use '../component/form-input' as form;

:root {
  /* 遮罩 */
  --b3-mask-background: var(--rc-scrim);
}

$item-h: 36px;
$padding-lr: 16px;
.config {
  &__panel {
    > .b3-tab-bar {
      padding: 24px 16px;
      width: 340px;
      .config__tab-title {
        padding: 0;
        font-size: 16px;
        height: $item-h;
        line-height: $item-h;
        margin-bottom: 16px;
        .b3-list-item__graphic {
          @include m.svg($item-h, 16px, $important: true);
        }
      }
      .b3-form__icon {
        margin: 0;
        @include form.search-input(32px, 1px, 13px);
      }
      .b3-list-item {
        line-height: $item-h;
        margin-bottom: 4px;
        &__graphic {
          @include m.svg(24px, 14px, $important: true);
        }
        &--focus {
          &::before {
            @include m.focus-before(28%, 1px);
          }
        }
      }
    }
    // 设置菜单特化样式
    .config__tab-container {
      margin-top: 36px;
      height: calc(100% - 36px);
      padding: 0 0 24px;
      &--top {
        margin-top: 24px;
        height: calc(100% - 24px);
        padding-bottom: 0;
      }
      .b3-label {
        margin-right: $padding-lr;
      }
    }
  }
  &__tab-wrap {
    padding: 0 0 0 $padding-lr;
    background-color: transparent;
    height: auto;
  }
  // 设置菜单公共样式
  &__tab-container {
    padding: $padding-lr;
    .layout-tab-bar {
      margin-right: $padding-lr;
      margin-bottom: 16px;
    }

    // 键盘快捷键
    .b3-list--border {
      padding: 0;
      .b3-list__panel::before {
        left: -19px;
      }
      .b3-text-field {
        height: 28px;
      }
    }
  }

  // 资源列表
  &-assets__list {
    padding: 0 $padding-lr 0 8px;
  }
  // 搜索筛选设置
  &-query {
    gap: 20%;
    margin-top: 12px;
    label {
      width: 20%;
      margin: 12px 0 0 0;
    }
  }
  // 集市Readme
  &-bazaar__readme {
    padding: 16px;
    background-color: var(--rc-surface);
    .item {
      // 侧栏
      &__side {
        width: 350px;
        background-color: var(--rc-background);
        border-radius: var(--b3-border-radius);
        // 按钮
        .block__icon {
          &[data-type='goBack'] {
            width: auto;
            margin-top: 16px;
            padding: 0 8px;
            height: 32px;
            font-size: 14px;
          }
        }
        .b3-button {
          margin-top: 12px;
        }
      }
      // Readme主页
      &__main {
        background-color: var(--rc-background);
        border-radius: var(--b3-border-radius);
        // Readme正文
        .b3-typography {
          padding: 0 96px;
        }
      }

      &__readme {
        margin-top: 0;
        padding-bottom: 30vh;
      }

      &__preview {
        border-radius: unset;
        &--fullscreen {
          border-radius: var(--b3-border-radius-b);
        }
      }
    }
  }
  &-account {
    margin-top: 30px;
    height: 700px;
    &__info {
      margin-top: 180px;
    }
    &__svg {
      display: none;
    }
    &__center {
      .b3-button--text:not(#activationCode) {
        @include m.focus(var(--rc-primary));
      }
      &--text {
        .fn__hr--b {
          height: 36px;
          + .fn__flex-1 {
            display: none;
          }
        }
      }
    }
  }
}

.b3-dialog__body .b3-label {
  border: none;
  border-radius: var(--b3-border-radius);
  background-color: var(--rc-background);
  padding: 16px;
  margin-bottom: 6px;
  margin-left: 0;
  margin-right: 0;
  &--inner,
  &--noborder {
    border: none;
    box-shadow: none;
  }
}

#activationCode {
  @include m.state(var(--rc-on-surface-variant));
}

// 集市
.bazaarPanel {
  > .fn__hr--b {
    display: none;
  }
  .b3-button {
    margin-right: 8px;
    &--outline {
      background-color: transparent;
    }
  }
  .b3-select {
    background-color: var(--rc-background);
  }
  .counter {
    @include m.focus(var(--rc-on-surface-variant), true);
    @include m.v-center(25px);
    width: auto;
    font-size: 100%;
    &:not(:empty) {
      padding: 0 8px;
    }
  }
}

#configBazaarDownloaded {
  > .fn__flex {
    margin-top: 16px;
    .b3-switch {
      margin: 0 32px !important;
    }
  }
}

.b3-card {
  box-shadow: unset;
  background-color: var(--rc-background);
  border: 1px solid transparent;
  &:hover {
    transform: unset;
    box-shadow: unset;
    background-color: var(--rc-background);
    border: 1px solid rgb(var(--rc-primary));
  }
  &--disabled {
    opacity: 0.38;
  }
  &__actions {
    .block__icon.ft__primary {
      width: auto;
      font-size: 13px;
      line-height: 24px;
      @include m.transparent(true);
    }
  }
}
