.b3-dialog__container {
  &:has(#historyContainer) {
    padding-top: 12px;
  }
  &:has(.history__panel) {
    .b3-dialog__body {
      padding: 0 24px;
    }

    .layout-tab-bar {
      border-radius: unset !important;
    }

    .block__icons {
      padding: 8px;
    }
  }
}

.history {
  &__panel {
    > .b3-list {
      padding: 8px;
      margin-right: 12px;
      background-color: var(--rc-background);
      border-radius: var(--b3-border-radius-b);
      > ul {
        margin-bottom: 3px;
      }
    }
  }
  &__repo {
    &[data-type='repo'] {
      .b3-list {
        padding: 8px;
        border-radius: var(--b3-border-radius-b);
        background-color: var(--rc-background);
        &-item {
          padding: 8px 12px;
          margin-bottom: 8px;
          line-height: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__diff {
    padding: 8px;
    margin-right: 12px;
    box-sizing: border-box;
    background-color: var(--rc-background);
    border-radius: var(--b3-border-radius-b);
    border: none;
    > .b3-list {
      padding: 0;
    }

    + .fn__flex {
      border-radius: var(--b3-border-radius-b);
    }
  }
  &__text {
    border-radius: var(--b3-border-radius-b);
  }
}
