@use '../mixins' as m;
@use 'config';
@use 'history';
@use 'riff-card';
@use 'search';
@use 'small';

.b3-dialog {
  &__container {
    border-radius: var(--rc-border-radius-dialog);
    padding: 24px 0;
    &:has(.resize__move) {
      padding-top: 0;
    }
    &:has(.resize__move.fn__none) {
      padding-top: 24px;
    }
  }
  &__close {
    display: none;
  }
  &__header {
    border: none;
    padding: 0 28px 16px;
    font-size: 18px;
    font-weight: bold;
    &.resize__move {
      padding-top: 24px;
    }
    .ft__on-surface {
      font-weight: normal;
      margin-top: 6px;
    }
    .b3-form__icon {
      font-size: 13px;
    }
  }
  &__content {
    background-color: transparent !important;
    padding: 0 24px;
    &.b3-typography {
      padding: 0 48px;
    }
  }
  &__action {
    border: none;
    padding: 16px 24px 0;
    gap: 0;
    > .fn__space {
      display: none;
    }
    .b3-button {
      font-size: 14px;
      padding: 8px 16px;
      line-height: 20px;
      height: auto;
      width: 80px;
      &--cancel {
        background-color: transparent;
        @include m.state(var(--rc-on-surface-rgb));
      }
      &--text {
        @include m.state(var(--rc-primary-rgb));
      }
    }
  }
}
