// 管理闪卡

[data-key='dialog-viewcards'] {
  .b3-dialog__container {
    padding-top: 12px;
  }
  .b3-dialog__body {
    padding: 0 24px;
  }
  .block__icons {
    margin-bottom: 8px;
  }
  .b3-list {
    background-color: var(--rc-background);
    border-radius: var(--b3-border-radius-b);
    padding: 8px;
    margin-right: 12px;
  }
  .card__empty {
    border-radius: var(--b3-border-radius-b);
  }
}

#cardPreview {
  border-radius: var(--b3-border-radius-b);
  padding: 8px 0;
}

// 间隔重复
[data-key='dialog-opencard'] .b3-dialog__container {
  padding: 0;
}
.card__action {
  .b3-button {
    height: auto;
  }
}
