@use '../mixins' as m;
@use 'sass:math';
@use '../component/form-input' as form;

$height: 36px;
$icon-w: 30px;
$interval: math.div($height - $icon-w, 2);

[data-key='dialog-globalsearch'] {
  .b3-dialog__container {
    padding: 0;
  }
}
.search {
  &__header {
    box-sizing: border-box;
    height: $height;
    div:has(> &) {
      //background-color: var(--rc-background);
      .b3-button {
        @include m.focus(var(--rc-on-surface));
        height: 28px;
        font-size: 12px;
        &[disabled] {
          background-color: transparent;
        }
        &--cancel {
          @include m.transparent();
        }
      }
    }
    .b3-form__icon-icon {
      top: $interval;
      left: $interval !important;
    }
    .b3-text-field {
      font-size: 14px;
      height: $height;
      padding-left: $height;
      background-color: transparent;
    }
    .block__icons {
      min-height: $height;
    }
  }
  &__arrowdown {
    $w: 8px;
    @include m.svg($w);
    top: math.div($height - $w, 2);
    left: $icon-w - $w + $interval + 2px;
  }
  &__list {
    padding-top: 8px;
    background-color: var(--rc-surface);
  }

  &__preview {
  }

  &__drag {
    &:hover::after {
      background-color: rgba(var(--rc-primary));

      .search__layout--row & {
        width: 2px;
      }
      .search__layout:not(.search__layout--row) & {
        height: 2px;
      }
    }
  }

  &__tip {
    height: 36px;
  }
}

#searchHistoryList {
  min-width: 150px;
}

#searchList > .b3-list-item {
  // 未分组
  &[data-type='search-item'] {
    $padding: 8px;
    $text-h: 24px;
    height: auto;
    display: block;
    gap: 0;
    padding: $padding $padding $text-h + $padding;

    .b3-list-item {
      &__graphic {
        @include m.svg(24px, 12px, $important: true);
        position: absolute;
      }
      &__text {
        overflow-y: auto !important;
        text-overflow: ellipsis !important;
        -webkit-box-orient: inherit;
        padding: 0 $padding 0 24px;
        line-height: 24px;
      }
      &__meta {
        @include m.focus(var(--rc-on-surface));
        @include m.v-center(24px);
        float: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-radius: var(--b3-border-radius);
        padding: 0 8px;
        gap: 8px;
        &--ellipsis {
          display: flex;
          width: auto;
          //max-width: unset;
        }
      }
    }
  }
}
