@use '../mixins' as m;
@use 'sass:math';
@use '../component/form-input' as form;

$height: 36px;
$icon-w: 30px;
$interval: math.div($height - $icon-w, 2);

$margin: 10px;

[data-key='dialog-globalsearch'] {
  .b3-dialog__container {
    padding: 0 !important;
  }
  .b3-dialog__body > .fn__flex-column {
    border-radius: var(--rc-border-radius-dialog) !important;
  }
}
.search {
  &__history-icon {
    width: $height;
    height: $height;
    .b3-form__icon-icon {
      top: $interval;
    }
  }
  &__arrowdown {
    $w: 8px;
    @include m.svg($w);
    top: math.div($height - $w, 2);
    left: $icon-w - $w;
  }
  &__header {
    box-sizing: border-box;
    height: $height;
    min-height: $height;
    margin: 0 $margin;
    border-top: none;
    border-bottom: 1px solid var(--b3-border-color);

    .block__icons:has(+ &) {
      background-color: var(--rc-surface);
      padding-left: 10px;
    }
    div:has(> &) {
      background-color: var(--rc-background);
    }
    > .fn__flex-1 {
      height: $height;
    }
    .b3-text-field {
      font-size: 14px;
      height: $height;
      background-color: transparent;
    }
    .b3-form__icon-clear {
      height: $height !important;
    }
    .block__icons {
      min-height: $height;
      height: $height;
      background-color: transparent;
      padding: 0 10px - $margin 0 2px;
    }
    > .fn__space:last-child {
      width: 2px;
    }
  }
  &__list {
    padding-top: 8px;
    background-color: var(--rc-surface);
  }

  &__drag {
    &:hover::after {
      background-color: var(--rc-primary);

      .search__layout--row & {
        width: 2px;
      }
      .search__layout:not(.search__layout--row) & {
        height: 2px;
      }
    }
  }

  &__tip {
    height: 36px;
  }
}

#criteria {
  border-bottom: none;
}

[data-name='search-history'] {
  min-width: 200px;
  max-height: 50vh;
  .b3-menu__items {
    max-height: unset;
  }
}

#searchList {
  margin-bottom: 0;
  > .b3-list-item {
    // 未分组
    &[data-type='search-item'] {
      gap: 2px;
      padding: 8px;
      flex-wrap: wrap;
      justify-content: flex-end;
      .b3-list-item {
        &__graphic {
          @include m.svg(24px, 12px, $important: true);
          align-self: flex-start;
        }
        &__text {
          flex-shrink: 0;
          flex-basis: calc(100% - 40px);
          -webkit-line-clamp: 2;
          line-height: 24px;
        }
        &__meta {
          @include m.focus(var(--rc-on-surface-rgb));
          @include m.v-center(24px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          border-radius: var(--b3-border-radius);
          padding: 0 8px;
          gap: 8px;
          &--ellipsis {
            width: auto;
          }
        }
      }
    }
  }
}
