@use '../mixins' as m;

.b3-dialog {
  &__container {
    // 属性设置
    &:has(.custom-attr) {
      width: 600px !important;
      height: 640px !important;
    }
    // 移动文档
    &:has(#foldTree) {
      width: 560px !important;
      height: 720px !important;
    }
    // 重命名 / 提示弹窗
    &[style*='520px'][style*='height:auto'] {
      width: 360px !important;
    }
    // 笔记本设置界面
    &:has(#dailyNoteSavePath) {
      width: 800px !important;
    }
  }
  &__content {
    // 重命名 - 输入框
    > .b3-text-field.fn__block {
      margin: 12px 0 0;
    }
    // 提示弹窗
    > .ft__breakword {
      margin: 12px 0;
      line-height: 1.625;
      font-size: 14px;
    }
  }
  &__body {
    // 属性设置 / 数据历史 - 顶部tab
    > .fn__flex-column > .layout-tab-bar {
      margin: 16px 16px 12px;
      border-radius: unset !important;
    }
    // 移动文档 - 搜索框
    > .b3-form__icon {
      margin: 0 24px 12px !important;
    }
  }
  &__action {
    .b3-button {
      background-color: transparent;
      @include m.state(var(--rc-primary));
      //&--cancel {
      //  @include m.state(var(--rc-on-surface));
      //}
    }
  }
}

// 移动文档 - 查询后列表
#foldList {
  margin: 0 24px;
  padding: 0;
}

// 移动文档 - 文档树
#foldTree {
  margin: 0 24px;
  > .b3-list {
    padding: 0;
    @mixin left($depth) {
      > ul {
        > li > .b3-list-item__toggle {
          padding-left: 22px + ($depth * 18px) !important;
        }
        @if $depth < 14 {
          @include left($depth + 1);
        }
      }
    }

    @include left(0);
  }
  + .fn__hr {
    display: none;
  }
}

// 导出为图片
#preview {
  background-color: var(--rc-background);
}

// 属性设置
.custom-attr {
  padding: 0 24px 24px;
}

// ctrl + tab 菜单
.switch-doc {
  padding: 0 24px 24px;
  > .fn__flex {
    gap: 8px;
    > .b3-list {
      padding: 12px 8px;
      background-color: var(--rc-background);
      border-radius: var(--b3-border-radius);
      border: none;
      width: auto !important;
      flex: 1;
    }
  }
  &__path {
    margin-top: 24px;
    border: none;
    font-size: 14px;
  }
}
